<br>
 <div class="jumbotron">
   <h1>Bullbuster Squad</h1>
   <p>Want to quit your job and fish for fun? Join the squad! Build tomorrows fishing world. </p>
   <p>

   </p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Become A Better Fisherman</h2>
     <p>The best way to learn is by teaching others what you have learned.</p>
   </div>
   <div class="col-md-4">
     <h2>Get Your Questions Answered</h2>
     <p>No  "internet trolling" is tolerated here. People are actually here to teach, learn, or both.</p>
   </div>
   <div class="col-md-4">
     <h2>Stay In The Loop</h2>
     <p>Be part of a community that actually shapes the fishing world.</p>
   </div>
 </div>
